<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class = "topTitle">
        <h1>BookFace - Carson's Blog Page</h1>
        </div>
        
        <hr>
        <h2>Create a New Post!</h2>
        <form action="/add" method="POST">
            <div>
                <label for="myTable">Create a new Blog Post:</label>
                <input name="myTable" id="myTable" value="Example Text" />
            </div>
            <div>
                <button>Create Post!</button>
            </div>
        </form>
        <hr>
        <h2>Delete a Post</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="myTable">Post ID to Delete:</label>
                <input name="myTable" id="myTable" value="1" />
            </div>
            <div>
                <button>Delete Post!</button>
            </div>
        </form>
        <hr>
        <h1>Today's Blog Posts!</h1>
        <div style="padding: 30px;">
            {% for txt in data%}
            <div class = "postBlock">
                <p>Post ID: {{txt.myTable_id}}</p>
                <p>User Post:<p> 
                <div class = "postBody">
                    <p>{{txt.myTable_txt}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
    </body>
</html>