<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/css">
    </head>
    <body style="margin-left: 25%; margin-right: 25%;">
        <div style="background-color: #00008B; padding: 30px; border-radius: 25px;">
        <h1 style="text-align:center; color: white;" >BookFace - Carson's Blog Page</h1>
        </div>
        
        <hr>
        <h2>Create a New Post!</h2>
        <form action="/add" method="POST">
            <div>
                <label for="myTable">Create a new Blog Post:</label>
                <input name="myTable" id="myTable" value="Example Text" />
            </div>
            <div>
                <button>Create Post!</button>
            </div>
        </form>
        <hr>
        <h2>Delete a Post</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="myTable">Post ID to Delete:</label>
                <input name="myTable" id="myTable" value="1" />
            </div>
            <div>
                <button>Delete Post!</button>
            </div>
        </form>
        <hr>

        <div style="padding: 30px;">
            {% for txt in data%}
            <div style="background-color: #add8e6; margin: 20px; padding: 15px; border-radius: 25px;">
            <p>Post ID: <span style="font-weight: bold;">{{txt.myTable_id}}</span></p>
            <p>User Post:<p> 
            <div style="background-color: #fff; padding: 5px;">
            <p>{{txt.myTable_txt}}</p>
            </div>
            </div>
            {% endfor%}
        </div>
    </body>
</html>