body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 20%; 
  margin-right: 20%;
  background-image: linear-gradient(#6a6a6a, rgb(172, 172, 172),#6a6a6a );
}

.editingPosts {
  background-color: lightgray;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  border-style: solid;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  color: white;
}

.secondaryTitle {
  text-align: center;
  color: white;
}

.topTitle {
  border-radius: 25px;
  background-color: #3c3c3c; 
  margin: 25px;
  padding: 10px;
  border-style: solid;
}

.postBlock {
  background-color: #fe8787; 
  margin: 20px; 
  padding: 15px; 
  border-radius: 10px;
  border-style: solid;
}

.postBody {
  background-color: #fff; 
  padding: 5px;
  border-style: solid;
}

#myTableText {
  width: 75%;
}

label { 
  display: inline-block; 
  width: 100px; 
  text-align: left; 
}